# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/interim/*
data/processed/*
!data/interim/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# Reports
reports/*
!reports/.gitkeep

# Environment / secrets
.env

# Logs
*.log